---
import { getIcon } from "@/components/icons/icons-list";
import { tools } from "@/lib/tools";
import { cn } from "@/lib/utils";

import { ArrowRightIcon } from "lucide-react";

import Shell from "@/components/elements/Shell.astro";
import Layout from "@/components/layouts/Layout.astro";
import Hero from "@/components/elements/Hero.astro";

const title = "Your Digital Swiss Army Knife";

const description =
    "A versatile collection of web tools designed to simplify your digital life " +
    "and help you with everyday tasks. Powerful, user-friendly, and " +
    "privacy-focused — all in one place, all for free, with no sign-up required.";

const keywords = ["swiss", "web toolkit", "digital swiss army knife", "shihab mahamud"];
---

<Layout title={title} description={description} keywords={keywords}>
    <Hero title={title} description={description} patternColor="currentColor">
        <a
            href="#tools"
            class="bg-primary hover:bg-primary/90 focus:ring-primary text-primary-foreground inline-flex items-center justify-center rounded-md px-6 py-3 text-lg font-medium shadow focus:ring-2 focus:ring-offset-2 focus:outline-none"
        >
            Explore Tools
            <ArrowRightIcon className="ml-2 h-4 w-4" />
        </a>
    </Hero>
    <Shell>
        <div class="mb-8 text-center">
            <h2 class="text-foreground text-3xl font-bold tracking-tighter md:text-4xl">Tools</h2>
            <p class="text-muted-foreground mx-auto mt-3 max-w-[700px] md:text-xl">
                Discover our most powerful and versatile tools to boost your productivity.
            </p>
        </div>
        <div class="mx-auto grid gap-6 py-8 md:grid-cols-2 lg:grid-cols-3">
            {
                tools.map((tool) => {
                    const Icon = getIcon(tool.icon);
                    return (
                        <a href={tool.href}>
                            <div class="bg-card text-card-foreground border-border relative z-10 rounded-md border p-6 shadow-2xs transition-all hover:shadow-xs">
                                <div class="mb-2 flex items-center gap-2">
                                    <Icon className={cn("size-8", tool.iconClass)} />
                                    <h3 class="text-foreground text-lg font-semibold">
                                        {tool.title}
                                    </h3>
                                </div>
                                <p class="text-muted-foreground text-sm">{tool.desc}</p>
                            </div>
                        </a>
                    );
                })
            }
        </div>
    </Shell>
</Layout>
