---
import Layout from "@/components/layouts/Layout.astro";

import { PasswordGeneratorComponent } from "@/components/screens/password-generator";
import { LogoIcon } from "@/components/icons/logo-icon";
import { KeyIcon } from "lucide-react";

const title = "Password Generator";

const description =
    "Generate strong, secure passwords with customizable length, character types, and etc. " +
    "Free online password generator tool with no data storage.";

const keywords = [
    "password generator",
    "secure password",
    "strong password",
    "random password",
    "password creator",
    "password tool",
    "security tool",
    "password strength",
    "custom password",
    "online password generator",
    "swiss"
];
---

<Layout title={title} description={description} keywords={keywords}>
    <div class="flex flex-col items-center">
        <section class="from-background to-muted w-full bg-gradient-to-b py-12 md:py-24 lg:py-32">
            <div class="container mx-auto px-4 md:px-6">
                <div class="flex flex-col items-center space-y-6 text-center">
                    <a href="/">
                        <LogoIcon />
                    </a>
                    <div class="flex items-center space-x-2">
                        <KeyIcon className="size-16 text-red-500 dark:text-red-400" />
                        <h1
                            class="text-foreground text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl"
                        >
                            {title}
                        </h1>
                    </div>
                    <p class="text-muted-foreground mx-auto max-w-[700px] md:text-xl">
                        {description}
                    </p>
                </div>
            </div>
        </section>
        <section class="w-full py-12 md:py-24">
            <div class="container mx-auto px-4 md:px-6">
                <div class="mx-auto w-full max-w-2xl">
                    <PasswordGeneratorComponent client:load />
                </div>
            </div>
        </section>
    </div>
</Layout>
