---
import { PasswordGeneratorComponent } from "@/components/screens/password-generator";

import Layout from "@/components/layouts/Layout.astro";
import Hero from "@/components/elements/Hero.astro";
import Shell from "@/components/elements/Shell.astro";

const title = "Password Generator";

const description =
    "Generate strong, secure passwords with customizable length, character types, and etc. " +
    "Free online password generator tool with no data storage.";

const keywords = [
    "password generator",
    "secure password",
    "strong password",
    "random password",
    "password creator",
    "password tool",
    "security tool",
    "password strength",
    "custom password",
    "online password generator",
    "swiss"
];
---

<Layout title={title} description={description} keywords={keywords}>
    <Hero title={title} description={description} patternColor="currentColor" />
    <Shell>
        <div class="mx-auto w-full max-w-2xl">
            <PasswordGeneratorComponent client:load />
        </div>
    </Shell>
</Layout>
